@import 'fonts';
@import 'nullstyle';
@import 'header';

.container {
    max-width: 1015px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper {
    overflow: hidden;
}
.btn {
    background-color: #de2b24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s;
    &:hover {
        background-color: #c20d0d;
    }
}
