@import 'fonts';
@import 'nullstyle';
@import 'header';

body {
    font-family: 'Helvetica Neue';
}
.container {
    max-width: 1015px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.reverse {
    flex-direction: row-reverse;
}
/* button styles */
.btn {
    background-color: #de2b24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid#de2b24;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
        color: #de2b24;
        border: 1px solid#de2b24;
    }
}
/* ================== HERO SECTION  ===================  */
.hero {
    min-width: 100vw;
    height: 600px;
    background: url('../img/mainbg.jpg') center / cover no-repeat;

    &_btn {
        background-color: #f8cd53;
        border: 1px solid #f8cd53;
        font-size: 23px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 20px 35px;
        margin-top: 30px;
        transition: all 0.3s;
        &:hover {
            background-color: #fff;
            border: 1px solid #f8cd53;
            color: #f8cd53;
        }
    }

    &__body {
        background: rgba(18, 135, 191, 0.15);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        z-index: 33;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 5spx;
    }

    &__text {
        font-size: 30px;
        font-weight: 300;
    }
}
/* -----------------------   HEADINGS STYLES ----------------------- */
.heading {
    text-align: center;
    color: #424242;
    margin-bottom: 45px;
    &__title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    &__text {
        font-size: 20px;
        font-weight: 300;
    }
    &::after {
        content: '';
        display: block;
        width: 47px;
        height: 5px;
        margin: 14px auto 0;
        background-color: #424242;
    }
}
/* ==================== ABOUT SECTION ==================== */
.about {
    padding: 110px 0;
    color: #424242;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -52px;
    }

    &__item {
        flex: 0 0 33.333%;
        padding: 0 52px;
        margin: 0 auto;
    }
}
/* -----------------------  FEATURES STYLES ----------------------- */
.features {
    text-align: center;
    &__img {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 700;
        margin-top: 1.3em;
    }

    &__text {
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        color: #5c5c5c;
        margin-top: 1em;
        line-height: 1.6;
    }
}
/* ==============   APPROACH SECTION ====================== */
.approach {
    background-color: #f3f3f3;
    padding: 90px 0 130px;
    &__body {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
}
/* ------------------------- STEP STYLES-------------------------  */
.step {
    background-color: #fff;
    box-shadow: 0 0 5px #e2e2e2;
    &__img {
        flex: 1 0 33.333%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__body {
        position: relative;
        flex: 1 0 66.667%;
        padding: 15px 75px;
    }
    &__heading {
        color: #424242;
        font-family: 'Helvetica Bold';
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 13px;
    }
    &__text {
        color: #5c5c5c;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
    }

    &__count {
        position: absolute;
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 101px;
        height: 101px;
        border: 2px solid #ffffff;
        border-radius: 4px;
        background-color: #de2b24;
        color: #fff;
        z-index: 30;
    }
    &__count-left {
        left: 0;
        transform: translate(-50%, -50%);
    }
    &__count-right {
        right: 0;
        transform: translate(50%, -50%);
    }

    &__num {
        font-family: Georgia;
        font-size: 60px;
        font-weight: 700;
    }

    &__count-text {
        font-family: 'Helvetica - Normal';
        font-size: 20px;
        font-weight: 400;
    }
}

/*========================= WORK SECTION ========================= */
.work {
    background-color: #de2b24;
    padding: 110px 0 130px;
    &__heading {
        color: #ffffff;
        &::after {
            background-color: #fff;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 1 50%;
    }
}
/*---------------------------- PROJECT STYLES ---------------------------- */
.project {
    display: flex;
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        flex: 0 1 50%;
        background-color: #f35e59;

        font-size: 26px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
    }
    &__icon {
        opacity: 0.5;
        font-size: 36px;
        margin-bottom: 25px;
    }
    &__title {
        text-transform: capitalize;
    }
    &__text {
        font-size: 16px;
    }

    &__img {
        flex: 0 1 50%;
        img {
            width: 100%;
        }
    }
}
